/* CSS styles for the portfolio website */

/* General styles */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

/* Header styles */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.logo {
  font-family: italics;
  font-size: 30px;
  display: inline;
}

.logo img {
  margin-bottom: 5px;
}

#navigation {
  display: none;
  background-color: #3b3b4e;
  width: 30%;
}

#navigation img {
  height: 30%;
  width: 100%;
}

#navigation a {
  align-items: center;
  color: #160f0f;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
}

#closebtn {
  float: right;
}

nav a:hover {
  color: #a5742b;
  background-color: rgb(255, 255, 255);
}

/* Main content styles */

main {
  padding: 40px;
}

/* Hero section styles */

#hero {
  text-align: center;
  padding: 120px 0;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#hero h1 {
  font-size: 58px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  text-shadow: 5px 8px 10px rgb(103, 174, 184);
}

.subtitle {
  font-size: 34px;
  color: #fff;
  text-shadow: 4px 6px 6px rgb(114, 114, 185);
}

/* About section styles */

.about {
  margin: 40px 0;
  padding: 60px 0;
  text-align: center;
  font-size: 1.5em;
}

.about h2 {
  font-size: 50px;
  color: #646060;
  margin-bottom: 48px;
}

.skills {
  justify-content: center;
  margin-bottom: 40px;
}

.skills h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.skills ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.skills li {
  display: inline-flex;
  margin-right: 10px;
  background-color: #5941b3;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 5px 6px 10px rgb(87, 94, 78);
}

.skills li:hover {
  transform: scale(1.3);
  transition: 0.7s;
  background-color: #776f92;
}

.education {
  margin-bottom: 40px;
  display: inline-flex;
}

.education h2 {
  color: #18615d;
}

.education h3 {
  font-size: 24px;
  color: #4f4fac;
  margin-bottom: 10px;
  display: flexbox;
}

#maseno,
#cisconetacad {
  width: inherit;
  box-shadow: 6px 9px 8px grey;
  height: inherit;
  padding-left: 40px;
}

.institutions a {
  text-decoration: none;
  color: aqua;
}

.certifications h2 {
  font-size: 1.7em;
  margin-bottom: 1px;
  color: cornflowerblue;
  display: inline;
}

#sololearn,
#cisco {
  color: darkslategrey;
  font-size: 1.3em;
}

.sololearnimg {
  margin: 20px;
}

.sololearnimg img {
  border-radius: 50%;
}

.sololearnimg img:hover {
  transform: scale(1.6);
  transition: 1.5s;
}

.certifications a {
  text-decoration: none;
  color: green;
  font-style: italic;
}

.certifications a:hover {
  color: skyblue;
  background-color: rgb(121, 121, 6);
}

.certifications ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
}

.certifications li {
  margin-bottom: 5px;
}

/* Projects section styles */

#projects {
  margin: 40px 0;
}

#projects h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.project img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 20px;
}

.project-info {
  flex: 1;
}

.project h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  color: #666;
  line-height: 1.4;
}

/* Contact section styles */

#contact {
  margin: 40px 0;
}

#contact h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 40px;
}

.contact-info p {
  font-size: 16px;
  color: #666;
  line-height: 1.4;
}

#contact p {
  color: darkkhaki;
}

.contact-info a {
  text-decoration: none;
  padding: 5px;
  font-size: 28px;
  margin-left: 20px;
  color: azure;
}

/* Footer styles */

footer {
  background-color: #333;
  color: #fff;
  padding: 2px;
  text-align: center;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#back-to-top a {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  background-color: #b3b1b1;
  padding: 10px 15px;
  border-radius: 50%;
}

#back-to-top a:hover {
  background-color: #dbdbdb;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  * {
    font-size: 16px;
  }
  /* Adjust header and navigation */
  header {
    padding: 10px;
  }
  #navigation {
    width: 36%;
  }
  #navigstion a {
    font-size: 14px;
  }
  /* Adjust hero section */
  #hero {
    padding: 80px 0;
    height: 100%;
  }
  #hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
    height: 100%;
  }
  .subtitle {
    font-size: 18px;
  }
  /* Adjust about section */
  .about {
    padding: 40px 0;
  }
  #about h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .skills h3 {
    font-size: 18px;
  }
  .skills li {
    font-size: 12px;
    padding: 6px 8px;
    margin: 6px;
  }
  .education h3,
  .certifications h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  #maseno,
  #cisconetacad {
    margin-top: 20px;
    align-items: center;
  }
  .project img {
    width: 150px;
    height: 100px;
    margin-right: 10px;
  }
  .project h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .project p {
    font-size: 14px;
  }
  /* Adjust contact section */
  #contact h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  /* Adjust footer */
}
